:host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.sync-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    white-space: nowrap;
}
